<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Conversion factor:</strong>
    <%= item.conversion_factor %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= item.subcategory_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= item.brand_id %>
  </p>

  <p>
    <strong>Design:</strong>
    <%= item.design_id %>
  </p>

  <p>
    <strong>Minimum stock:</strong>
    <%= item.minimum_stock %>
  </p>

</div>
